* text=auto eol=lf

.editorconfig text diff=ini
.globalconfig text diff=ini
*.md text diff=markdown
*.cs text diff=csharp
*.sh text diff=bash

**/packages.lock.json linguist-generated
**/package-lock.json linguist-generated
**/devcontainer-lock.json linguist-generated

.github/workflows/*.lock.yml linguist-generated=true merge=ours
